<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="tasks.html">Példatár</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tanulás
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="tasks.html">Feladatok</a>
                    <a class="dropdown-item" href="new_supplies.html">Új segédanyag létrehozása</a>
                    <a class="dropdown-item" href="new_task.html">Új kvíz létrehozása</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_groups" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Csoportok
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="groups.html">Csoportok</a>
                    <a class="dropdown-item" href="new_group.html">Új csoport létrehozása</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_users" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Felhasználók
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="users.html">Felhasználók</a>
                    <a class="dropdown-item" href="new_user.html">Új felhasználó létrehozása</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profil.html">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Kilépés</a>
            </li>
        </ul>
    </div>
</nav>
